In [1]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [3]:
# I want 'n' for each 'n' in nums
my_list = []
for n in nums:
    my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
my_list = [n for n in nums]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# I want 'n*n' for each 'n' in nums
my_list = []
for n in nums:
    my_list.append(n*n)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
my_list = [n*n for n in nums]
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#using a map + lambda
my_list = map(lambda n: n*n, nums)
print(my_list)

<map object at 0x10724fdc0>

In [9]:
# I want 'n' for each 'n' in nums if 'n' is even
my_list = []
for n in nums:
    if n%2 == 0:
        my_list.append(n)
print(my_list)

[2, 4, 6, 8, 10]

In [10]:
my_list = [n for n in nums if n%2 == 0]
print(my_list)

[2, 4, 6, 8, 10]

In [11]:
#Using a filter + lambda 
my_list = filter(lambda n: n%2 == 0, nums)
print(my_list)

<filter object at 0x10724f4c0>

In [12]:
# I want a ( letter, num) pair for each letter in 'abcd' and each number in '0123'
my_list = []
for letter in 'abcd':
    for num in range(4):
        my_list.append((letter, num))
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [13]:
my_list = [(letter, num) for letter in 'abcd' for num in range(4)]
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [16]:
#Dictionary Comprehensions
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']
print(zip(names, heros))

<zip object at 0x10727bac0>

In [17]:
# I want a dict{'name': 'hero'} for each name, hero in zip(names, heros)
my_dict = {}
for name, hero in zip(names, heros):
    my_dict[name] = hero
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [18]:
my_dict = {name: hero for name, hero in zip (names, heroes)}
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [19]:
#If name not equal to peter
my_dict = {name: hero for name, hero in zip (names, heroes) if name != 'Peter'}
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [20]:
#Set Comprehensions
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]
my_set = set()
for n in nums:
    my_set.add(n)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
my_set = {n for n in nums}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
#Generator Expressions
#I want to yield 'n*n' for each 'n' in nums
nums = [1,2,3,4,5,6,7,8,9,10]

def gen_func(nums):
    for n in nums:
        yield n*n

my_gen = gen_func(nums)

for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [25]:
my_gen = (n*n for n in nums)
for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
100