In [1]:
# a collection of instructions
# a collection of code
def function1():
    print("ahhhh")
    print("ahhhh 2")
print("this is outside the function")

this is outside the function

In [2]:
function1()

ahhhh
ahhhh 2

In [3]:
function1()
function1()

ahhhh
ahhhh 2
ahhhh
ahhhh 2

In [4]:
# a mapping
def function2(x):
    return 2*x

In [5]:
a = function2(3)
# return value or output

In [6]:
print(a)

6

In [7]:
b = function2(4)

In [8]:
print(b)

8

In [9]:
c = function2(5)
print(c)

10

In [10]:
d = function2()

TypeError: function2() missing 1 required positional argument: 'x'

In [11]:
def function3(x,y):
    return x + y

In [12]:
e = function3(1,2)
print(e)

3

In [13]:
def function4(x):
    print(x)
    print("still in this function")
    return 3*x

In [14]:
f = function4(4)
print(f)

4
still in this function
12

In [15]:
f = function4()

TypeError: function4() missing 1 required positional argument: 'x'

In [16]:
f = function4(4)

4
still in this function

In [17]:
def function5(some_argument):
    print(some_argument)
    print("weeee")

In [18]:
function5(4)

4
weeee

In [23]:
#BMI calculator
name1 = "YK"
height_m1 = 2
weight_kg1 = 90

name2 = "YK's sister"
height_m2 = 1.8
weight_kg2 = 70

name3 = "YK's brother"
height_m3 = 2.5
weight_kg3 = 160

In [20]:
def bmi_calculator(name, height_m, weight_kg):
    bmi = weight_kg / (height_m ** 2)
    print("bmi: ")
    print(bmi)
    if bmi < 25:
        return name + " not overweight"
    else:
        return name + " is overweight"

In [21]:
result1 = bmi_calculator(name1, height_m1, weight_kg1)
result2 = bmi_calculator(name2, height_m2, weight_kg2)
result3 = bmi_calculator(name3, height_m3, weight_kg3)

bmi:
22.5
bmi:
21.604938271604937
bmi:
25.6

In [22]:
print(result1)
print(result2)
print(result3)

YK not overweight
YK's sister not overweight
YK's brotherr is overweight

In [29]:
def convertMiles(miles):
    km = 1.6 * miles
    return str(miles) + " is " + str(km) + " kilometers"

In [30]:
km1 = convertMiles(10)
print(km1)

10 is 16.0 kilometers